<div class="container">
  <a href="/">GO ALL THE WAY BAACKKU</a>
  <div class="row">
    <h1>Shoe Love</h1>
    <h3>Brand: <%= @brand.name %></h3>
    <h4>Unit price: $<%= @brand.price %> </h4>
    <a href="/brands/<%= @brand.id %>/edit"><button type="submit" class="btn btn-primary">Edit Store</button></a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1>ADDING A BRAND TO A STORE BRUV</h1>
      <form class="" action="/brands/<%= @brand.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <select name="store_id">
          <% @stores.each do |store| %>
          <option value="<%= store.id %>"> <%= store.name %></option>
          <% end %>
        </select>
        <button type="submit">Add to Store</button>
      </form>
    </div>
    <div class="col-md-6">
      <h3>Stores</h3>
      <% if @brand.stores.any? %>
        <ul>
          <% @brand.stores.each do |store| %>
          <li><%= store.name %> </li>
          <% end %>
        </ul>
        <% else %>
        <p>This brand is currently not sold in any stores.</p>
        <% end %>
    </div>
  </div>
</div>
